<!-- -PHCDev- Title System -->
<% phc_title resource_name.to_s.humanize + " Unlock Password" %>
<% phc_title_tagline "Unlock Your " + resource_name.to_s.humanize + " Unlock Password" %>
<% phc_breadcrumb_one link_to resource_name.to_s.humanize + " Home", phcdevworks_accounts_devise.user_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- -PHCDev- Title System -->

<!-- -PHCDev- Page Bradcrumbs -->
<ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
    <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- -PHCDev- Page Bradcrumbs -->

<!-- -PHCDev- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- -PHCDev- Page Header -->

<!-- -PHCDev- Panel -->
<div class="panel panel-inverse">

	<!-- -PHCDev- Panel - Heading -->
	<div class="panel-heading">
		<h4 class="panel-title"><%= yield(:phc_title) %></h4>
	</div>
	<!-- -PHCDev- Panel - Heading -->

	<!-- -PHCDev- Panel - Body -->
	<div class="panel-body">

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |form| %>

			<%= render "devise/shared/error_messages", resource: resource %>

			<div class="mb-3">
				<label class="mb-2"><%= form.label :email %></label>
				<%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control fs-13px", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
			</div>
			
			<%= form.submit "Resend Confirmation Instructions", class: "btn btn-primary block full-width" %>

		<% end %>

	</div>
	<!-- -PHCDev- Panel - Body -->

</div>
<!-- -PHCDev- Panel -->
