<!-- -PHCDev- Page Container - Sidebar -->
<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <div class="menu">

        <!-- -PHCDev- Page Container - Sidebar - Profile -->
        <div class="menu-profile">
            <% if current_user %>
                <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
                    <div class="menu-profile-cover with-shadow"></div>
                    <div class="menu-profile-image">
                        <%= image_tag current_user.gravatar_url %>
                    </div>
                    <div class="menu-profile-info">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <%= current_user.firstname + " " + current_user.lastname  %>
                            </div>
                            <div class="menu-caret ms-auto"></div>
                        </div>
                        <small><%= current_user.username %></small>
                    </div>
                </a>
            <% end %>
        </div>
        <!-- -PHCDev- Page Container - Sidebar - Profile -->

        <!-- -PHCDev- Page Container - Sidebar - Profile - Menu -->
        <div id="appSidebarProfileMenu" class="collapse">
            <div class="menu-item pt-5px">
                <%= link_to phcdevworks_accounts.edit_user_registration_path, class: "menu-link" do %>
                    <div class="menu-icon"><i class="fad fa-cogs"></i></div>
                    <div class="menu-text">Account Settings</div>
                <% end %>
                <%= link_to phcdevworks_accounts.destroy_user_session_path, method: :delete, class: "menu-link" do %>
                    <div class="menu-icon"><i class="fad fa-sign-out-alt"></i></div>
                    <div class="menu-text">Logout</div>
                <% end %>
            </div>
            <div class="menu-divider m-0"></div>
        </div>
        <!-- -PHCDev- Page Container - Sidebar - Profile - Menu -->

        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCPress -->
        <% if defined?phcdevworks_press %>
            <div class="menu-header">PHCPress</div>
            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon"><i class="material-icons">newspaper</i></div>
                    <div class="menu-text">Blogging</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Article Posts</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_press/article/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/article/posts", "Index") %>">
                                <%= link_to phcdevworks_press.article_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">All Article Posts</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/article/posts", "New") %>">
                                <%= link_to phcdevworks_press.new_article_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Article Post</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Review Posts</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_press/review/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/review/posts", "Index") %>">
                                <%= link_to phcdevworks_press.review_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">All Review Posts</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/review/posts", "New") %>">
                                <%= link_to phcdevworks_press.new_review_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Review Post</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">List Posts</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_press/list/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/list/posts", "Index") %>">
                                <%= link_to phcdevworks_press.list_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">All List Posts</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_press/list/posts", "New") %>">
                                <%= link_to phcdevworks_press.new_list_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New List Post</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCPress -->

        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCPortfolio -->
        <% if defined?phcdevworks_portfolio %>
            <div class="menu-header">PHCPortfolio</div>
            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon"><i class="material-icons">business_center</i></div>
                    <div class="menu-text">Portfolio & Projects</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Project Portfolio</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_portfolio/project/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_portfolio/project/posts", "Index") %>">
                                <%= link_to phcdevworks_portfolio.project_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">Project Index</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_portfolio/project/posts", "New") %>">
                                <%= link_to phcdevworks_portfolio.new_project_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Project</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Project Types</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_portfolio/project/types") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_portfolio/project/types", "Index") %>">
                                <%= link_to phcdevworks_portfolio.project_types_path, class: "menu-link" do %>
                                    <div class="menu-text">Project Type</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_portfolio/project/types", "New") %>">
                                <%= link_to phcdevworks_tutorials.new_project_type_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Project Type</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCPortfolio -->

        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCTutorials -->
        <% if defined?phcdevworks_tutorials %>
            <div class="menu-header">PHCTutorials</div>
            <div class="menu-item has-sub">
                <a href="javascript:;" class="menu-link">
                    <div class="menu-icon"><i class="material-icons">school</i></div>
                    <div class="menu-text">Tutorials</div>
                    <div class="menu-caret"></div>
                </a>
                <div class="menu-submenu">
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Tutorial Posts</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_tutorials/tutorials/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_tutorials/tutorials/posts", "Index") %>">
                                <%= link_to phcdevworks_tutorials.tutorial_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">Tutorial Index</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_tutorials/tutorials/posts", "New") %>">
                                <%= link_to phcdevworks_tutorials.new_tutorial_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Tutorial</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Review Posts</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu <%= phc_menu_active_controller("phcdevworks_tutorials/command/posts") %>">
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_tutorials/command/posts", "Index") %>">
                                <%= link_to phcdevworks_tutorials.command_posts_path, class: "menu-link" do %>
                                    <div class="menu-text">Command List Index</div>
                                <% end %>
                            </div>
                            <div class="menu-item <%= phc_menu_active_action_controller("phcdevworks_tutorials/command/posts", "New") %>">
                                <%= link_to phcdevworks_tutorials.new_command_post_path, class: "menu-link" do %>
                                    <div class="menu-text">Add a New Command List</div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <!-- -PHCDev- Page Container - Sidebar - Navigation - PHCTutorials -->

    </div>
</div>
<!-- -PHCDev- Page Container - Sidebar -->
