<!-- -PHC- Sidebar for PHCDevworks Engines -->
<div data-scrollbar="true" data-height="100%">

    <!-- -PHC- Sidebar - User Profile Menu -->
    <ul class="nav">
        <% if current_user %>
            <li class="nav-profile">
                <a href="javascript:;" data-toggle="nav-profile">
                    <div class="cover with-shadow"></div>
                    <div class="image">
                        <%= image_tag current_user.gravatar_url %>
                    </div>
                    <div class="info">
                        <b class="caret pull-right"></b>
                        <%= current_user.firstname + " " + current_user.lastname  %>
                        <small><%= current_user.username %></small>
                    </div>
                </a>
            </li>
            <li>
                <ul class="nav nav-profile">
                    <li>
                        <%= link_to phcdevworks_accounts.edit_user_registration_path do %>
                            <i class="fad fa-cogs"></i> Account Settings
                        <% end %>
                    </li>
                    <li>
                        <%= link_to phcdevworks_accounts.destroy_user_session_path do %>
                            <i class="fad fa-sign-out-alt"></i> Logout
                        <% end %>
                    </li>
                </ul>
            </li>
        <% end %>
    </ul>
    <!-- -PHC- Sidebar - User Profile Menu -->
    
    <!-- -PHC- Sidebar - Sidebar Navigation -->
    <ul class="nav">

        <% if defined?phcdevworks_press %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Press -->
            <li class="nav-header">Articles & Blogging</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-newspaper"></i>
                    <span>Article Posts</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_press/article/posts") %>"><%= link_to("Article Index", phcdevworks_press.article_posts_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_press/article/posts#new") %>"><%= link_to("New Aritcle", phcdevworks_press.new_article_post_path) %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Press -->
        <% end %>

        <% if defined?phcdevworks_portfolio %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Press -->
            <li class="nav-header">Portfolio</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-briefcase"></i>
                    <span>Project List</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_portfolio/project/posts") %>"><%= link_to("Project Index", phcdevworks_portfolio.project_posts_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_portfolio/project/posts#new") %>"><%= link_to("New Project", phcdevworks_portfolio.new_project_post_path) %></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-folders"></i>
                    <span>Project Types</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_portfolio/project/posts") %>"><%= link_to("Project Type", phcdevworks_portfolio.project_types_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_portfolio/project/posts#new") %>"><%= link_to("New Types", phcdevworks_portfolio.new_project_type_path) %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Press -->
        <% end %>

        <% if defined?phcdevworks_tutorials %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Tutorials -->
            <li class="nav-header">Tutorial Posts</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-chalkboard-teacher"></i>
                    <span>Tutorial Posts</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_tutorials/tutorials/posts") %>"><%= link_to "Tutorial Index", phcdevworks_tutorials.tutorial_posts_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_tutorials/tutorials/posts#new") %>"><%= link_to "New Tutorial", phcdevworks_tutorials.new_tutorial_post_path %></li>
                </ul>
            </li>
            <li class="nav-header">Command Lists & Items</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-terminal"></i>
                    <span>Command Lists</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_tutorials/command/posts") %>"><%= link_to "List Index", phcdevworks_tutorials.command_posts_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_tutorials/command/posts#new") %>"><%= link_to "New List", phcdevworks_tutorials.new_command_post_path %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Tutorials -->
        <% end %>

        <% if defined?phcdevworks_core_modules %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Core Modules -->
            <li class="nav-header">Core Modules</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-sitemap"></i>
                    <span>Categories</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_core_modules/post/categories") %>"><%= link_to("Category Index", phcdevworks_core_modules.post_categories_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_core_modules/post/categories#new") %>"><%= link_to("New Category", phcdevworks_core_modules.new_post_category_path) %></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-analytics"></i>
                    <span>Marketing</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_core_modules/marketing/optimizations") %>"><%= link_to("SEO Data Index", phcdevworks_core_modules.marketing_optimizations_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_core_modules/marketing/optimizations#new") %>"><%= link_to("Add SEO Data", phcdevworks_core_modules.new_marketing_optimization_path) %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Core Modules -->
        <% end %>

        <% if defined?phcdevworks_members %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Members -->
            <li class="nav-header">Membership Manager</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-users"></i>
                    <span>Member"s Data</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_members/member/profiles") %>"><%= link_to("Profile Index", phcdevworks_members.member_profiles_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_members/member/profiles#new") %>"><%= link_to("New Member Profile", phcdevworks_members.new_member_profile_path) %></li>
                </ul>
            </li>
            <li class="nav-header">Member"s Directory</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-list-alt"></i>
                    <span>Member"s Directory</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_members/modules/categories") %>"><%= link_to("Directory Index", phcdevworks_members.directory_categories_path) %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_members/modules/categories#new") %>"><%= link_to("New Directory Listing", phcdevworks_members.new_directory_category_path) %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Members -->
        <% end %>

        <% if defined?phcdevworks_scripts %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Scripts -->
            <li class="nav-header">Script CDN Listings</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-laptop-code"></i>
                    <span>Script Posts</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/listings") %>"><%= link_to "All Script Listings", phcdevworks_scripts.script_listings_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/listings#new") %>"><%= link_to "Add a New Listing", phcdevworks_scripts.new_script_listing_path %></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-sitemap"></i>
                    <span>Script Extras</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/authors") %>"><%= link_to "Script Authors", phcdevworks_scripts.script_authors_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/extensions") %>"><%= link_to "Script Extensions", phcdevworks_scripts.script_extensions_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/versions") %>"><%= link_to "Script Versions", phcdevworks_scripts.script_versions_path %></li>
                </ul>
            </li>
            <li class="nav-header">Code Snippets</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-code"></i>
                    <span>Code Snippets</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/posts") %>"><%= link_to "Snippet Index", phcdevworks_scripts.snippet_posts_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_scripts/script/posts#new") %>"><%= link_to "New Snippet", phcdevworks_scripts.new_snippet_post_path %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks Scripts -->
        <% end %>

        <% if defined?phcdevworks_real_estate %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks RealEstate -->
            <li class="nav-header">Property Listings</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-home-lg"></i>
                    <span>Property Listings</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_real_estate/property/listings") %>"><%= link_to "Listing Index", phcdevworks_real_estate.property_listings_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_real_estate/property/listings#new") %>"><%= link_to "New Listing", phcdevworks_real_estate.new_property_listing_path %></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-list-alt"></i>
                    <span>Listing Features</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_real_estate/property/listings") %>"><%= link_to "Features Index", phcdevworks_real_estate.property_features_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_real_estate/property/listings#new") %>"><%= link_to "New Features", phcdevworks_real_estate.new_property_feature_path %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCDevworks RealEstate -->
        <% end %>

        <% if current_user && current_user.admin? %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCAccounts Admin Options -->
            <li class="nav-header">User Administration</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-user"></i>
                    <span>Admin</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_accounts/admin/users") %>"><%= link_to "User List", phcdevworks_accounts.admin_users_index_path %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCAccounts Admin Options -->
            <% end %>
    
            <% if current_user %>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCAccounts User Options -->
            <li class="nav-header">Your Account</li>
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret"></b>
                    <i class="fad fa-user"></i>
                    <span>Accounts Settings</span>
                </a>
                <ul class="sub-menu">
                    <li class="<%= phc_menu_active_controller("phcdevworks_accounts/user/edit") %>"><%= link_to "Settings", phcdevworks_accounts.edit_user_registration_path %></li>
                    <li class="<%= phc_menu_active_controller("phcdevworks_accounts/user/new") %>"><%= link_to "Logout", phcdevworks_accounts.destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
            <!-- -PHC- Sidebar - Sidebar Navigation - PHCAccounts User Options -->
        <% end %>

        <!-- -PHC- Sidebar - Sidebar Minifier -->
        <li>
            <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
                <i class="fa fa-angle-double-left"></i>
            </a>
        </li>
        <!-- -PHC- Sidebar - Sidebar Minifier -->

    </ul>
    <!-- -PHC- Sidebar - Sidebar Navigation -->

</div>
<!-- -PHC- Sidebar for PHCDevworks Engines -->
