<!-- Sidebar for PHCDevworks Engines -->
<div data-scrollbar="true" data-height="100%">

  <!-- Sidebar - User Profile Menu -->
  <ul class="nav">
    <% if current_user %>
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            <%= image_tag current_user.gravatar_url %>
          </div>
          <div class="info">
            <b class="caret pull-right"></b>
            <%= current_user.firstname + ' ' + current_user.lastname  %>
            <small><%= current_user.username %></small>
          </div>
        </a>
      </li>
      <li>
        <ul class="nav nav-profile">
          <li>
            <%= link_to phcdevworks_accounts.edit_user_registration_path do %>
              <i class="fas fa-cogs"></i> Account Settings
            <% end %>
          </li>
          <li>
            <%= link_to phcdevworks_accounts.destroy_user_session_path do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <!-- Sidebar - User Profile Menu -->

  <!-- Sidebar - Sidebar Navigation -->
  <ul class="nav">

    <% if current_user && current_user.admin? %>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts Admin Options -->
      <li class="nav-header">User Administration</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-user"></i>
          <span>Admin</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menu_active_controller('phcdevworks_accounts/admin/users') %>"><%= link_to 'User List', phcdevworks_accounts.admin_users_index_path %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts Admin Options -->
    <% end %>

    <% if current_user %>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts User Options -->
      <li class="nav-header">Your Account</li>
      <li class="has-sub">
        <a href="javascript:;">
          <b class="caret"></b>
          <i class="fas fa-user"></i>
          <span>Accounts Settings</span>
        </a>
        <ul class="sub-menu">
          <li class="<%= phc_menu_active_controller('phcdevworks_accounts/user/edit') %>"><%= link_to 'Settings', phcdevworks_accounts.edit_user_registration_path %></li>
          <li class="<%= phc_menu_active_controller('phcdevworks_accounts/user/new') %>"><%= link_to 'Logout', phcdevworks_accounts.destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
      <!-- Sidebar - Sidebar Navigation - PHCAccounts User Options -->
    <% end %>

    <!-- Sidebar - Sidebar Minifier -->
    <li>
      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify">
        <i class="fa fa-angle-double-left"></i>
      </a>
    </li>
    <!-- Sidebar - Sidebar Minifier -->

  </ul>
  <!-- Sidebar - Sidebar Navigation -->

</div>
<!-- Sidebar for PHCDevworks Engines -->
