<!-- -PHCDev- Page Container -->
<div id="app" class="app">

    <!-- -PHCDev- Registration Area -->
    <div class="login login-with-news-feed">

        <!-- -PHCDev- Ad/News Feed Area -->
        <div class="news-feed">
            <div class="news-image" style="background-image: url(https://static.phcnetworks.net/phc_engines/phc_accounts_pro/tropical_house_beach.jpg)"></div>
            <div class="news-caption">
                <h4 class="caption-title"><strong>PHC</strong>Devworks</h4>
                <p>Rails7 User Accounts Engine</p>
            </div>
        </div>
        <!-- -PHCDev- Ad/News Feed Area -->
        
        <!-- -PHCDev- Registration Form -->
        <div class="login-container">
        
            <!-- -PHCDev- Page Notifications -->
            <%= render "phcdevworks_notifications/bootstrap/notifications" %>
            <!-- -PHCDev- Page Notifications -->
            
            <!-- -PHCDev- Registration Form Header -->
            <div class="login-header mb-30px">
                <div class="brand">
                    <div class="d-flex align-items-center">
                        Accounts Sign-In
                    </div>
                    <small>To continue account sign-in is required.</small>
                </div>
            </div>
            <!-- -PHCDev- Registration Form Header -->
            
            <!-- -PHCDev- Registration Form Content -->
            <div class="login-content">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>

                    <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="form-floating mb-15px">
                        <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control h-45px fs-13px" %>
                        <label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">Email Address</label>
                    </div>

                    <div class="form-floating mb-15px">
                        <%= form.password_field :password, autocomplete: "off", placeholder: "Your Password", class: "form-control h-45px fs-13px" %>
                        <label for="password" class="d-flex align-items-center fs-13px text-gray-600">Password</label>
                    </div>

                    <div class="form-check mb-30px">
                        <% if devise_mapping.rememberable? -%>
                            <%= form.check_box :remember_me, class: "custom-control-input" %>
                            <%= form.label :remember_me, class: "custom-control-label" %>
                        <% end -%>
                    </div>

                    <div class="mb-15px">
                        <%= form.button :submit, class: "btn btn-success d-block h-45px w-100 btn-lg fs-14px"  do %>
                            <i class="batch-icon batch-icon-key"></i>
                            Sign-In
                        <% end %>
                    </div>

                    <div class="mb-40px pb-40px text-dark">
                        <%= render "users/shared/links" %>
                    </div>

                <% end %>

                <hr class="bg-gray-600 opacity-2" />

                <div class="text-gray-600 text-center  mb-0">
                    <p class="text-center">
                        <i class="fal fa-copyright"></i> <strong>PHC</strong>Devworks Accounts <%= Time.now.year %> <br>
                        Developed with <i class="fas fa-heart hanna_hearts"></i> by
                        <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="font-weight-bold">PHC</span>Devworks</u></a>
                    </p>
                </div>

            </div>
            <!-- -PHCDev- Registration Form Content -->
        
        </div>
        <!-- -PHCDev- Registration Form -->

    </div>
    <!-- -PHCDev- Registration Area -->

</div>
<!-- -PHCDev- Page Container -->
