<!-- Page Container -->
<div id="page-container">

    <!-- Registration Area -->
    <div class="login login-with-news-feed">

        <!-- Ad/News Feed Area -->
        <div class="news-feed">
            <div class="news-image" style="background-image: url(https://static.phcnetworks.net/phc_engines/phc_accounts_pro/tropical_house_beach.jpg)"></div>
            <div class="news-caption">
                <h4 class="caption-title"><strong>PHC</strong>Devworks</h4>
                <p>Rails 6 User Accounts Engine</p>
            </div>
        </div>
        <!-- Ad/News Feed Area -->
        
        <!-- Registration Form -->
        <div class="right-content">
        
            <!-- Page Notifications -->
            <%= render "phcdevworks_notifications/bootstrap/notifications" %>
            <!-- Page Notifications -->
            
            <!-- Registration Form Header -->
            <h1 class="login-header">
                <div class="brand">
                    Accounts Sign-In
                    <small>To continue account sign-in is required.</small>
                </div>
            </h1>
            <!-- Registration Form Header -->
            
            <!-- Registration Form Content -->
            <div class="login-content">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>

                    <%= devise_error_messages! %>

                    <div class="form-group m-b-15">
                        <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control form-control-lg" %>
                    </div>

                    <div class="form-group m-b-15">
                        <%= form.password_field :password, autocomplete: "off", placeholder: "Your Password", class: "form-control form-control-lg" %>
                    </div>

                    <div class="checkbox checkbox-css m-b-30">
                        <% if devise_mapping.rememberable? -%>
                            <%= form.check_box :remember_me, class: "custom-control-input" %>
                            <%= form.label :remember_me, class: "custom-control-label" %>
                        <% end -%>
                    </div>

                    <div class="login-buttons">
                        <%= form.button :submit, class: "btn btn-success btn-block btn-lg"  do %>
                            <i class="batch-icon batch-icon-key"></i>
                            Sign-In
                        <% end %>
                    </div>

                    <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                        <%= render "users/shared/links" %>
                    </div>

                <% end %>

                <hr>

                <p class="text-center">
                    <i class="fal fa-copyright"></i> <strong>PHC</strong>Devworks Accounts <%= Time.now.year %> <br>
                    Developed with <i class="fas fa-heart hanna_hearts"></i> by
                    <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="font-weight-bold">PHC</span>Devworks</u></a>
                </p>

            </div>
            <!-- Registration Form Content -->
        
        </div>
        <!-- Registration Form -->

    </div>
    <!-- Registration Area -->

</div>
<!-- Page Container -->
