<!-- Title System -->
<% phc_title resource_name.to_s.humanize + " Unlock Password" %>
<% phc_title_tagline "Unlock Your " + resource_name.to_s.humanize + " Unlock Password" %>
<% phc_breadcrumb_one link_to resource_name.to_s.humanize + " Home", phcdevworks_accounts_devise.user_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- Title System -->

<!-- BreakCrumbs & Header -->
<ol class="breadcrumb pull-right">
  <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
  <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<h2 class="page-header"><%= yield(:phc_title) %></h2>
<!-- BreakCrumbs & Header -->

<!-- Page Content -->
<div class="row">
  <div class="col-lg-12">

    <!-- Panel -->
    <div class="panel panel-inverse">

      <!-- Panel - Heading -->
      <div class="panel-heading">
        <!-- Panel - Actions -->
        <div class="panel-heading-btn">
          <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <!-- Panel - Actions -->
        <h4 class="panel-title"><%= yield(:phc_title) %></h4>
      </div>
      <!-- Panel - Heading -->

      <!-- Panel - Body -->
      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |form| %>

          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control", placeholder: "Email Address", autofocus: true %>
          </div>

          <div class="actions">
            <%= form.submit "Resend unlock instructions", class: "btn btn-primary block full-width" %>
          </div>

        <% end %>

      </div>
      <!-- Panel - Body -->

    </div>
    <!-- Panel -->

  </div>
</div>
<!-- Page Content -->
