<!DOCTYPE html>
<html>
<head>

  <!-- SEO System -->
  <% phc_seo_title "PHCDevworks Accounts" %>
  <% phc_seo_description "Rails Authentication and User Management Engine." %>
  <!-- SEO System -->

  <!-- SEO and Site Description -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= yield(:phc_seo_title) %></title>
  <meta name="description" content="<%= yield(:phc_seo_description) %>">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <link rel="canonical" href="http://phcdevworks.com">
  <!-- SEO and Site Description -->

  <!-- Rails Security Tags -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Rails Security Tags -->

  <!-- CSS Styles -->
  <%= stylesheet_link_tag "phcdevworks_accounts/application", media: "all", "data-turbolinks-track": "reload" %>
  <!-- CSS Styles -->

</head>
<body class="pace-top bg-white">

  <!-- JavaScript -->
  <%= javascript_include_tag "phcdevworks_accounts/application", "data-turbolinks-track": "reload" %>
  <!-- JavaScript -->

  <!-- JavaScript Loader -->
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
  <!-- JavaScript Loader -->

</body>
</html>
