<!DOCTYPE html>
<html>
<head>

    <!-- SEO System -->
    <% phc_seo_title "PHCDevworks Accounts" %>
    <% phc_seo_description "Ruby on Rails 6 Authentication and User Management Engine." %>
    <!-- SEO System -->

    <!-- SEO and Site Description -->
	<meta charset="utf-8">
	<title><%= yield(:phc_seo_title) %></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta name="description" content="<%= yield(:phc_seo_description) %>">
    <!-- SEO and Site Description -->

    <!-- Rails Security Tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Rails Security Tags -->

    <!-- CSS Styles -->
    <%= stylesheet_link_tag "coloradmin/default/phcthemes_admin_panel_pack_coloradmin", media: "all" %>
    <!-- CSS Styles -->

</head>
<body class='pace-top'>

    <!-- Page Content -->
    <%= yield %>
    <!-- Page Content -->

    <!-- JavaScript -->
    <%= javascript_include_tag "coloradmin/phcthemes_admin_panel_pack_coloradmin" %>
    <!-- JavaScript -->

</body>
</html>
