<!-- -PHCDev- Title System -->
<% phc_title "User Manager" %>
<% phc_title_tagline "Useer Index" %>
<% phc_breadcrumb_one yield(:phc_title) %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- -PHCDev- Title System -->

<!-- -PHCDev- Page Bradcrumbs -->
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
	<li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- -PHCDev- Page Bradcrumbs -->

<!-- -PHCDev- Page Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- -PHCDev- Page Header -->

<!-- -PHCDev- Panel -->
<div class="panel panel-inverse">

	<!-- -PHCDev- Panel - Heading -->
	<div class="panel-heading">
		<h4 class="panel-title"><%= yield(:phc_title) %></h4>
	</div>
	<!-- -PHCDev- Panel - Heading -->

	<!-- -PHCDev- Panel - Body -->
	<div class="panel-body">

		<!-- -PHCDev- Index - Table -->
		<div class="table-responsive">
			<table class="table table-striped table-bordered">

				<thead>
					<tr>
						<th>Username</th>
						<th>Full Name</th>
						<th>Email</th>
					</tr>
				</thead>

				<tbody>
					<% @admin_users.each do |user| %>
						<tr>
							<td><%= user.username %></td>
							<td><%= user.firstname %> <%= user.lastname %></td>
							<td><%= user.email %></td>
						</tr>
					<% end %>
				</tbody>

			</table>
		</div>
		<!-- -PHCDev- Index - Table -->

		<!-- -PHCDev- New Button -->
		<!-- -PHCDev- New Button -->

	</div>
	<!-- -PHCDev- Panel - Body -->

</div>
<!-- -PHCDev- Panel -->
