<!-- -PHCDEV- Title System -->
<% phc_title resource_name.to_s.humanize + " Edit Password" %>
<% phc_title_tagline "Edit Your " + resource_name.to_s.humanize + " Edit Password" %>
<% phc_breadcrumb_one link_to resource_name.to_s.humanize + " Accounts Home", phcdevworks_accounts_devise.user_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- -PHCDEV- Title System -->

<!-- -PHCDEV- Bradcrumbs -->
<ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
    <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- -PHCDEV- Bradcrumbs -->

<!-- -PHCDEV- Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- -PHCDEV- Header -->

<!-- -PHCDEV- Panel -->
<div class="panel panel-inverse">

	<!-- -PHCDEV- Panel - Heading -->
	<div class="panel-heading">
		<h4 class="panel-title"><%= yield(:phc_title) %></h4>
	</div>
	<!-- -PHCDEV- Panel - Heading -->

	<!-- -PHCDEV- Panel - Body -->
	<div class="panel-body">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>

			<%= render "devise/shared/error_messages", resource: resource %>

			<%= form.hidden_field :reset_password_token %>

			<div class="mb-3">
				<label class="mb-2"><%= form.label :password, "New password" %></label>
				<% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %>
				<%= form.password_field :password, autofocus: true, autocomplete: "off", class: "form-control fs-13px" %>
			</div>
			<div class="mb-3">
				<label class="mb-2"><%= form.label :password_confirmation, "Confirm new password" %></label>
				<%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control fs-13px" %>
			</div>

			<%= form.submit "Change my password" %>

		<% end %>

		<%= render "devise/shared/links" %>

	</div>
	<!-- -PHCDEV- Panel - Body -->

</div>
<!-- -PHCDEV- Panel -->
