<!-- -PHCDEV- Title System -->
<% phc_title "Send Password Reset Link" %>
<% phc_title_tagline "Password Reset Form" %>
<% phc_breadcrumb_one link_to "Home", phcdevworks_accounts_devise.user_path %>
<% phc_breadcrumb_two yield(:phc_title_tagline) %>
<!-- -PHCDEV- Title System -->

<!-- -PHCDEV- Bradcrumbs -->
<ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><%= yield(:phc_breadcrumb_one) %></li>
    <li class="breadcrumb-item active"><%= yield(:phc_breadcrumb_two) %></li>
</ol>
<!-- -PHCDEV- Bradcrumbs -->

<!-- -PHCDEV- Header -->
<h1 class="page-header"><%= yield(:phc_title) %></h1>
<!-- -PHCDEV- Header -->

<!-- -PHCDEV- Panel -->
<div class="panel panel-inverse">

	<!-- -PHCDEV- Panel - Heading -->
	<div class="panel-heading">
		<h4 class="panel-title"><%= yield(:phc_title) %></h4>
	</div>
	<!-- -PHCDEV- Panel - Heading -->

	<!-- -PHCDEV- Panel - Body -->
	<div class="panel-body">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>

			<%= render "devise/shared/error_messages", resource: resource %>

			<div class="mb-3">
				<label class="mb-2"><%= form.label :email %></label>
				<%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-control fs-13px", placeholder: "Email Address" %>
			</div>

			<%= form.button class: "btn btn-success" do %>
				<i class="far fa-paper-plane"></i>
				Send Password Reset Instructions
			<% end %>

		<% end %>

	</div>
	<!-- -PHCDEV- Panel - Body -->
	
</div>
<!-- -PHCDEV- Panel -->
