<!-- Page Container -->
<div id="page-container">

    <!-- Registration Area -->
    <div class="register register-with-news-feed">
    
        <!-- Ad/News Feed Area -->
        <div class="news-feed">
            <div class="news-image" style="background-image: url(https://static.phcnetworks.net/phc_engines/phc_accounts_pro/tropical_house_beach.jpg)"></div>
            <div class="news-caption">
                <h4 class="caption-title"><strong>PHC</strong>Devworks</h4>
                <p>Rails 6 User Accounts Engine</p>
            </div>
        </div>
        <!-- Ad/News Feed Area -->
    
        <!-- Registration Form -->
        <div class="right-content">
    
            <!-- Page Notifications -->
            <%= render "phcdevworks_notifications/bootstrap/notifications" %>
            <!-- Page Notifications -->
    
            <!-- Registration Form Header -->
            <h1 class="register-header">
                Accounts Signup
                <small>No credit card requried on signup.</small>
            </h1>
            <!-- Registration Form Header -->
    
            <!-- Registration Form Content -->
            <div class="register-content">

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>

					<!-- Devise Error Message -->
					<%= render "devise/shared/error_messages", resource: resource %>
					<!-- Devise Error Message -->

                    <label class="control-label">Name <span class="text-danger">*</span></label>
                    <div class="row row-space-10">
                        <div class="col-md-6 m-b-15">
                            <%= form.text_field :firstname, autocomplete: "First Name", placeholder: "First Name", class: "form-control" %>
                        </div>
                        <div class="col-md-6 m-b-15">
                            <%= form.text_field :lastname, autocomplete: "Last Name", placeholder: "Last Name", class: "form-control" %>
                        </div>
                        <div class="col-md-12 m-b-15">
                            <%= form.text_field :username, autocomplete: "User Name", placeholder: "User Name", class: "form-control" %>
                        </div>
                    </div>

                    <label class="control-label">Email <span class="text-danger">*</span></label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            <%= form.email_field :email, autocomplete: "Email", placeholder: "Email", class: "form-control" %>
                        </div>
                    </div>

                    <label class="control-label">Password <span class="text-danger">*</span></label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            <%= form.password_field :password, autocomplete: "off", placeholder: "Type in a Secure Password", class: "form-control" %>
                        </div>
                    </div>

                    <label class="control-label">Password Confirmation <span class="text-danger">*</span></label>
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            <%= form.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm your Password", class: "form-control" %>
                        </div>
                    </div>

                    <div class="checkbox-css m-b-30">
                        <div class="form-check checkbox-css m-b-30">
                            <%= form.check_box :terms_of_service, required: true, class: "form-check-input", id: "agreement_checkbox" %>
                            <label class="form-check-label">
                                By clicking Sign Up, you agree to our <a href="javascript:;">Terms</a> and that you have read our <a href="javascript:;">Data Policy</a>, including our <a href="javascript:;">Cookie Use</a>.
                            </label>
                        </div>
                    </div>

                    <div class="register-buttons">
                        <%= form.button :submit, class: "btn btn-primary btn-block btn-lg"  do %>
                            <i class="batch-icon batch-icon-key"></i>
                            Sign Up
                        <% end %>
                    </div>

                    <div class="m-t-20 m-b-40 p-b-40 text-inverse">
                        <%= render "users/shared/links" %>
                    </div>

                <% end %>
    
                <hr>

                <p class="text-center">
                    <i class="fal fa-copyright"></i> <strong>PHC</strong>Devworks Accounts <%= Time.now.year %> <br>
                    Developed with <i class="fas fa-heart hanna_hearts"></i> by
                    <a class="phcnet_copyright text-dark" href="https://phcdevworks.com/"><u><span class="font-weight-bold">PHC</span>Devworks</u></a>
                </p>
                
            </div>
            <!-- Registration Form Content -->
    
        </div>
        <!-- Registration Form -->
    
    </div>
    <!-- Registration Area -->

</div>
<!-- Page Container -->
